:root {
  --primary-hue: 33deg;
  --primary-saturation: 98%;
  --primary-lightness: 63%;
}

.content {
  /* font-family: "Times New Roman", Times, serif; */
}

.nav-container-blur {
    background: #C9E4FF
}

.sidebar-container {
  width: 30rem;
}

.hx-max-w-6xl {
  max-width: none;
}